process {
        withLabel: basics {     cpus = 2 ;  memory = '16 GB' }
        withLabel: bbmap {      cpus = 24 ; memory = '16 GB' }
        withLabel: bwa {        cpus = 12 ;  memory = '8 GB' }
        withLabel: fastp {      cpus = 12 ; memory = '16 GB' }
        withLabel: prodigal {   cpus = 1 ;  memory = '4 GB' }
        withLabel: diamond {    cpus = 24 ; memory = '16 GB' }
        withLabel: ggplot2 {    cpus = 2 ;  memory = '4 GB' }
        withLabel: nanoplot {   cpus = 8 ;  memory = '14 GB' }
        withLabel: spades {     cpus = 32 ; memory = '150 GB' }
        withLabel: sourmash {   cpus = 8 ;  memory = '24 GB' }
        withLabel: flye       { cpus = {24 * task.attempt}; memory = {100.GB * task.attempt}; errorStrategy = { task.exitStatus in 1 || 130..140 ? 'retry' : 'terminate' }; maxRetries = 2; }
        withLabel: minimap2 {   cpus = 8 ;  memory = '50 GB' }
        withLabel: racon {      cpus = 4 ;  memory = '130 GB' }
        withLabel: samtools {   cpus = 8 ;  memory = '8 GB' }  
        withLabel: medaka {     cpus = 20 ; memory = '100 GB' }
        withLabel: pilon {      cpus = 20 ; memory = '70 GB' }
        withLabel: ubuntu {     cpus = 4 ;  memory = '8 GB' } 
        withLabel: kmc {        cpus = 8 ;  memory = '16 GB' }

        cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
        memory = { check_max( 6.GB * task.attempt, 'memory' ) }
        time   = { check_max( 4.h  * task.attempt, 'time'   ) }

        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
        maxRetries    = 3
        maxErrors     = '-1'
}
params {
    singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
    workdir              = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/lr/"
    outdir               = "results"
}

